body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar, .achievements::-webkit-scrollbar, .serial-results::-webkit-scrollbar, .quotes-results::-webkit-scrollbar{
    display: none;
}

.menubar{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: darkred;
    height: 60px;
}

.title{
    display: flex;
    font-size: 50px;
    height: 60px;
}

.menubar > label{
    padding: 0px 10px 10px 10px;
    padding-top: 100%;
}

.menubar > label:hover, .title > label:hover{
    cursor: pointer;
    background-color: darkslategrey;
}

.achievements{
    display: flex;
    flex-direction: row;
    overflow: overlay;
    -ms-overflow-style: none;
    border-left: solid;
    background-color: olive;
}

.achi{
    border-right: solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.achi:hover, .achi > label:hover{
    background-color: mediumturquoise;
    cursor: pointer;
}

.achi-title{
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 10px;
}

.to-go{
    display: none;
}

.results{
    display: flex;
    height: 100%;
}

.serial{
    flex: 4;
    background-color: gold;
    border: solid;
}

.serial-submenu, .quotes-submenu{
    display: flex;
    justify-content: space-around;
    border-bottom: solid;
    height: 24px;
}

.serial-filter{
    display: flex;
}

.serial-filter > label:hover, .serial-filter > input:hover{
    cursor: pointer;
}

.serial-results{
    display: flex;
    flex-wrap: wrap;
    height: 95%;
    overflow: overlay;
    padding-right: 10px;
    justify-content: space-between;
    -ms-overflow-style: none;
}

.tv{
    display: flex;
    flex-direction: column;
    border: solid;
    margin: 10px;
    width: 150px;
    height: 200px;
}

.tv-title, .tv-description, .tv-type{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 2px;
}

.tv-title{
    font-size: larger;
    font-weight: bold;
}

.quotes{
    flex: 1;
    background-color: lightcoral;
    border: solid;
    border-left: none;
}

.quotes-results{
    overflow: overlay;
    height: 95%;
    -ms-overflow-style: none;
}

.quote{
    border: solid;
    margin: 10px;
    padding: 4px;
    display: flex;
    flex-direction: column;
}

.tv:hover, .quote:hover, .tv-title:hover, .tv-description:hover, .tv-type:hover, .quote-quote-label > label:hover, .quote-from-label > label:hover, .quote-by-label > label:hover, .quote-date:hover{
    cursor: pointer;
    background-color: lightgreen;
}

.quote-quote-label{
    display: flex;
    justify-content: space-between;
}

.quote-quote{
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: -webkit-center;
}

.quote-from-label, .quote-by-label{
    display: flex;
}

.quote-from, .quote-by{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 3px;
}

.quote-date{
    text-align: end;
}

footer{
    display: flex;
    background-color: forestgreen;
    justify-content: space-around;
    padding: 2px 0px 5px 0px;
}

li{
    list-style: none;
}

.mapPage{
    display: flex;
    flex-direction: column;
}

.mapPage > li:hover{
    cursor: pointer;
}