body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

.menubar{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: darkred;
    height: 60px;
}

.title{
    display: flex;
    font-size: 50px;
    height: 60px;
}

.menubar > label{
    padding: 0px 10px 10px 10px;
    padding-top: 100%;
}

.menubar > label:hover, .title > label:hover{
    cursor: pointer;
    background-color: darkslategrey;
}

.results{
    display: flex;
    height: 100%;
}

.serial{
    flex: 4;
    background-color: gold;
}

.serial-submenu{
    display: flex;
    justify-content: space-around;
}

.serial-filter{
    display: flex;
}

.quotes{
    flex: 1;
    background-color: lightcoral;
}

footer{
    display: flex;
    background-color: forestgreen;
    height: 60px;
}