body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar{
    display: none;
}

.menubar{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #5b5b5b;
    color: white;
    height: 60px;
}

.title{
    display: flex;
    font-size: 50px;
    height: 60px;
}

.account{
    padding: 0px 10px 10px 10px;
    padding-top: 100%;
    background-color: #212121;
    border-bottom-left-radius: 10px;
}

.indexPage{
    padding: 0px 10px 10px 10px;
    padding-top: 100%;
    background-color: #212121;
    border-bottom-right-radius: 10px;
}

.menubar > label:hover{
    cursor: pointer;
    background-color: rgb(168, 82, 82);
}

.serialPage:hover{
    cursor: pointer;
    background-color: #212121;
    border-bottom-left-radius: 10px;
}

.quotePage:hover{
    cursor: pointer;
    background-color: #212121;
    border-bottom-right-radius: 10px;
}

.results{
    display: flex;
    height: 100%;
    background-color: #5b5b5b;
    align-items: center;
    justify-content: center;
}

.login, .signup{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 128, 128);
    height: 300px;
    width: 500px;
    align-items: center;
    justify-content: space-evenly;
    border: solid 5px;
    border-color: rgb(244,238,177);
    border-radius: 10px;
}

.signup{
    display: none;
}

.login-title, .signup-title{
    font-size: xx-large;
    font-weight: bold;
}

.signup-btn:hover, .login-btn:hover{
    cursor: pointer;
}

.login-user-pass, .signup-user-pass{
    text-align: -webkit-center;
}

.login-user-pass > button, .signup-user-pass > button{
    margin: 10px;
    width: 100px;
    font-size: large;
    text-align: center;
}

.login-username-label, .login-password-label, .signup-username-label, .signup-password-label{
    text-align: right;
    padding: 10px;
}

.login-error, .signup-error-user{
    opacity: 0;
    width: 400px;
    text-align: center;
}

footer{
    display: flex;
    background-color: #5b5b5b;
    color: white;
    justify-content: space-around;
    padding: 2px 0px 5px 0px;
}

li{
    list-style: none;
    padding: 0px 15px 0px 15px;
}

li:hover{
    cursor: pointer;
    background-color: #212121;
    border-radius: 10px;
}
