body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar, .results::-webkit-scrollbar{
    display: none;
}

.menubar{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #5b5b5b;
    color: white;
    height: 60px;
}

.title{
    display: flex;
    font-size: 50px;
    height: 60px;
}

.account{
    padding: 0px 10px 10px 10px;
    padding-top: 100%;
    background-color: #212121;
    border-bottom-left-radius: 10px;
}

.indexPage{
    padding: 0px 10px 10px 10px;
    padding-top: 100%;
    background-color: #212121;
    border-bottom-right-radius: 10px;
}

.menubar > label:hover{
    cursor: pointer;
    background-color: rgb(168, 82, 82);
}

.serialPage:hover{
    cursor: pointer;
    background-color: #212121;
    border-bottom-left-radius: 10px;
}

.quotePage:hover{
    cursor: pointer;
    background-color: #212121;
    border-bottom-right-radius: 10px;
}

.menu{
    display: flex;
    color: white;
    background-color: #5b5b5b;
}

.menu > label {
    flex: 1;
    text-align: center;
    padding: 5px 15px 5px 15px;
}

.menu > label:hover{
    cursor: pointer;
    background-color: #212121;
}

.results{
    height: 100%;
    background-color: beige;
    overflow: overlay;
}

.develop-label, .contact, .api, .use{
    margin-top: 20px;
}

.develop-label{
    display: none;
    flex-direction: column;
}

.develop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.develop > div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: rgb(244,238,177);
    margin-top: 20px;
    border: outset;
}

.subTitle{
    font-size: xx-large;
    font-weight: bold;
    margin: 10px 0px 10px 20px;
}

.job{
    font-size: x-large;
    padding: 5px 10px 5px 20px;
    background-color: rgb(255, 128, 128);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: auto;
}

.image{
    background-color: white;
    border: outset;
    margin: 10px;
}

img{
    margin: 10px;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.contact, .api, .use{
    display: none;
    flex-direction: column;
}

.contact > div {
    background-color: #5b5b5b;
    margin: 10px 40px 10px 40px;
    padding: 10px;
    color: white;
    font-size: larger;
    border-radius: 10px;
}

form{
    display: flex;
    flex-direction: column;
    background-color: rgb(244,238,177);
    margin: 10px 20px 10px 20px;
    padding: 10px;
    color: black;
    border-radius: 10px;
}

form > div{
    display: flex;
    margin: 5px
}

.type{
    align-self: center;
}

.type > label{
    width: 60px;
}

.mess > input {
    flex: 1;
}

.mess > label{
    width: 100px;
}

.response{
    opacity: 0;
    background-color: rgb(255, 128, 128);
    align-self: center;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

form > button{
    width: 200px;
    align-self: center;
}

.paragraf{
    margin: 0px 0px 20px 30px;
}

.code{
    background-color: rgb(244,238,177);
    border: solid 5px;
    border-radius: 10px;
    border-color: #5b5b5b;
    margin: 0px 30px 30px 30px;
    padding: 10px;
    align-self: center;
}

.code > div{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

footer{
    display: flex;
    background-color: #5b5b5b;
    color: white;
    justify-content: space-around;
    padding: 2px 0px 5px 0px;
}

footer>div >li{
    list-style: none;
    padding: 0px 15px 0px 15px;
}

.itemList{
    list-style: square;
    margin-left: 60px;   
}
.itemList2{
    list-style: square;
    margin-left: 60px;   
}

footer> div > li:hover{
    cursor: pointer;
    background-color: #212121;
    border-radius: 10px;
}
.use{
    flex-direction: column;
}

.use > div{
    width: 80%;
    align-self: center;
}

@media(max-width:1100px){
    .develop{
        flex-direction: column;
    }
    .develop > div{
        width: 340px;
        align-self: center;
    }
}